[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/eunuch"]
	path = bundle/eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/json"]
	path = bundle/json
	url = git://github.com/leshill/vim-json.git
[submodule "bundle/latex-suite"]
	path = bundle/latex-suite
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundle/mirah"]
	path = bundle/mirah
	url = git://github.com/Neurogami/mirah-vim.git
[submodule "bundle/moonscript"]
	path = bundle/moonscript
	url = git://github.com/leafo/moonscript-vim.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/ruby-minitest"]
	path = bundle/ruby-minitest
	url = git://github.com/sunaku/vim-ruby-minitest.git
[submodule "bundle/speeddating"]
	path = bundle/speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "bundle/strftimedammit"]
	path = bundle/strftimedammit
	url = git://github.com/sjl/strftimedammit.vim
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/textobj-entire"]
	path = bundle/textobj-entire
	url = git://github.com/kana/vim-textobj-entire.git
	ignore = dirty
[submodule "bundle/textobj-indent"]
	path = bundle/textobj-indent
	url = git://github.com/kana/vim-textobj-indent.git
	ignore = dirty
[submodule "bundle/textobj-lastpat"]
	path = bundle/textobj-lastpat
	url = git://github.com/kana/vim-textobj-lastpat.git
	ignore = dirty
[submodule "bundle/textobj-rubyblock"]
	path = bundle/textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
	ignore = dirty
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = git://github.com/kana/vim-textobj-user.git
	ignore = dirty
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim
[submodule "bundle/neomru"]
	path = bundle/neomru
	url = https://github.com/Shougo/neomru.vim
	ignore = dirty
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/editorconfig"]
	path = bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "bundle/tmux-navigator"]
	path = bundle/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
